/* CSS Reset */
/* @font-face {
    font-family: 'Graphik';
    src: url(font/GraphikLight.otf);
} */

@font-face {
	font-family: 'Work Sans';
	src: url(font/WorkSans-Light.ttf);
}

/* Debuging */
/* -*{
	border: 1px solid red;
} */

html,
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans';
	scroll-behavior: smooth;
	/* overflow-x: hidden; */
	/* height: 2000px; */
}


/* MAIN STYLE */

/* Header */
header{
	width: 100%;
	position: fixed;
	z-index: 100;
}

header .logo img{
	animation: fade 1s linear forwards;
}

header nav .box ul li a{
	cursor: pointer;
	color: #858585;
	font-weight: 500;
	font-size: 26px;
	font-weight: 500;
	transition: 300ms linear;
}
header nav .box ul li a:hover{
	color: #fff;
}

/* Hamburger & Toggle */
.hamburger-active > span:nth-child(1){
	transform: rotate(-35deg) translateX(-5px) translateY(-5px);
	width: 25px;
}

.hamburger-active > span:nth-child(2){
	transform: scale(0);
}

.hamburger-active > span:nth-child(3){
	transform: rotate(35deg) translateX(-5px) translateY(5px);
	width: 25px;
}

.navbar.slide{
	visibility: visible;
	opacity: 1;
}

.navbar ul.slide{
	visibility: visible;
	opacity: 1;
}

#textApraisal.show{
	animation: fade 2s linear forwards;
	display: flex;
	opacity: 1;
}

#textAbout.show{
	animation: fade 2s linear forwards;
	display: flex;
	opacity: 1;
}

#line{
	display: none;
	opacity: 0;
	animation: height 2s linear forwards;
}
#line.show{
	display: block;
	opacity: 1;
}

.navbar ul.show{
	animation: fade 2s linear forwards;
}

/* Main-Page */
.main-page{
	position: relative;
    width: 100%;
    height: 100vh;
	overflow: hidden;
}
.main-page .background-main{
	background: url(img/main-page-bg.jpg)
				no-repeat
				center;
    background-size: cover;
	width: 100%;
    height: 100vh;
	animation: zoom 10s linear forwards;
}

.main-page .background-contact{
	background: url(img/contact-page-bg.jpg)
				no-repeat
				center;
    background-size: cover;
	width: 100%;
    height: 100vh;
	animation: zoom 10s linear forwards;
}

.main-page .overlay{
	position: absolute;
	z-index: 1;
	bottom: 0;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	filter: blur(10px);
	box-shadow: 0px 0px 10px 20px rgba(0, 0, 0, 0.267);
}

.main-page .content{
	position: absolute;
	z-index: 10;
	bottom: 0;
	width: 100%;
}

.main-page .content .sub-box{
	position: relative;
	cursor: pointer;
}

.main-page .content .sub-box .load{
	left: 0;
	width: 0;
	position: absolute;
	height: 100%;
	background-color: #fff;
	transition: 1s ease-out;
}
.main-page .content .sub-box:hover .load{
	width: 100%;
}


.main-page .content .sub-box p{
	position: relative;
	z-index: 10;
	font-weight: 600;
	transition: 1s ease-out;
}
.main-page .content .sub-box:hover p{
	color: rgb(20, 20, 20);
}

.typed {
	overflow: hidden;
	white-space: nowrap;
	animation: typing;
	animation-duration: 5s;
	animation-timing-function: steps(200, end);
	animation-fill-mode: forwards;
}

.fade{
	animation: fade 2s linear forwards;
}


/* ANIMATION */
@keyframes zoom {
	0%{
		transform: scale(1);
	}
	100%{
		transform: scale(1.2);
	}
}

@keyframes typing {
	from{ 
		width: 0;
	}
	to{ 
		width: 100%;
	}
}

@keyframes fade {
	from{
		visibility: hidden;
		opacity: 0;
	}
	to{
		visibility: visible;
		opacity: 1;
	}
}

@keyframes height {
	from{
		height: 0px;
	}
	to{
		height: 350px;
	}
}

@keyframes move {
	from{
		transform: translateX(0);
	}
	to{
		transform: translateX(-30px);
	}
}

/* RESPONSIVE */
@media screen and (max-width: 425px) {
	#box{
		transform: translateX(-80px);
	}
}

@media screen and (max-width: 375px) {
	#textApraisal, #textAbout{
		width: 300px;
	}
	#textApraisal p, #textAbout p{
		font-size: 14px;
	}
	#line{
		background-color: transparent;
	}
}

@media screen and (max-width: 320px) {
	#textApraisal, #textAbout{
		margin-top: 20px;
		width: 280px;
		padding-right: 10px;
	}
}